---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, PERSONAL } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Card from "@components/Card.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-16">
        <section class="flex flex-col items-center gap-6 md:flex-row">
          <!-- <img
            class="flex size-48 rounded-full object-cover sm:size-48 md:size-60 lg:size-80"
            src="/assets/profile.jpg"
          /> -->
          <div class="flex flex-col items-start text-center">
            <h1
              class="font-heading text-wrap text-start text-3xl font-bold !leading-[1.1] sm:text-3xl md:text-4xl lg:text-5xl"
            >
              <span
                class="flex items-end text-balance text-4xl font-bold !leading-[1.1] sm:text-4xl md:text-5xl lg:text-6xl"
                >Hi!
                <img
                  class="lg:size-30 size-10 sm:mr-4 sm:size-10 md:mr-6 md:size-20 lg:mr-8"
                  src="/icons/waving-hand.svg"
                />
              </span>
              I'm
              <span class="text-gradient">{PERSONAL.NAME}</span>.
            </h1>
            <h4 class="text-thin pt-2 sm:text-lg md:text-xl lg:text-2xl">
              {PERSONAL.TITLE}
            </h4>
            <ul class="flex flex-col gap-2 pt-4 lg:flex-row lg:gap-14">
              {
                PERSONAL.DETAILS.map((detail) => (
                  <li class="flex items-center justify-start gap-2">
                    <div class="icon" set:html={detail.ICON} />
                    {detail.TITLE}
                  </li>
                ))
              }
            </ul>
            <p
              class="font-base flex py-4 text-justify sm:text-base md:text-lg lg:text-xl"
            >
              {PERSONAL.DESCRIPTION}
            </p>
            <ul class="flex flex-wrap items-center justify-center gap-4">
              {
                PERSONAL.LINKS.map((link) => (
                  <li>
                    <a href={link.HREF} target="_blank">
                      <button class="group relative flex w-fit flex-nowrap gap-2 rounded border border-black/15 p-3 transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white">
                        <div class="icon" set:html={link.ICON} />
                        {link.NAME}
                      </button>
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </section>

        <section class="animate space-y-6">
          <ul class="not-prose flex flex-col gap-4"></ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Work Experience
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              SITE.WORK.map((work) => (
                <li>
                  <Card
                    title={work.TITLE}
                    url={work.URL}
                    subtitle={work.SUBTITLE}
                    description={work.DESCRIPTION}
                    list={work.LIST}
                  />
                </li>
              ))
            }
          </ul>
        </section>

        {
          blog.length !== 0 && (
            <section class="animate space-y-6">
              <div class="flex flex-wrap items-center justify-between gap-y-2">
                <h2 class="font-semibold text-black dark:text-white">
                  Latest blogs
                </h2>
                <Link href="/blog"> See all blogs </Link>
              </div>
              <ul class="not-prose flex flex-col gap-4 md:grid md:grid-cols-2 lg:grid-cols-3">
                {blog.map((post) => (
                  <li>
                    <ArrowCard entry={post} />
                  </li>
                ))}
              </ul>
            </section>
          )
        }

        {
          projects.length !== 0 && (
            <section class="animate space-y-6">
              <div class="flex flex-wrap items-center justify-between gap-y-2">
                <h2 class="font-semibold text-black dark:text-white">
                  Latest projects
                </h2>
                <Link href="/projects"> See all projects </Link>
              </div>
              <ul class="not-prose flex flex-col gap-4 md:grid md:grid-cols-2 lg:grid-cols-3">
                {projects.map((post) => (
                  <li>
                    <ArrowCard entry={post} />
                  </li>
                ))}
              </ul>
            </section>
          )
        }

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">Pipeline</h2>
          </div>
          <ul class="not-prose grid grid-cols-1 gap-4 md:grid md:grid-cols-2">
            {
              SITE.PIPELINE.map((pipeline) => (
                <li class="flex h-full flex-col">
                  <Card
                    title={pipeline.TITLE}
                    description={pipeline.DESCRIPTION}
                  />
                </li>
              ))
            }
            {
              SITE.PIPELINE.length % 2 !== 0 && (
                <li class="self-end">
                  <h2 class="text-xl font-medium text-black dark:text-white">
                    ... and much more &#9729;
                  </h2>
                </li>
              )
            }
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              GitHub Stats
            </h2>
            <Link href="https://github.com/sharukhrahman97" external>
              Visit my GitHub
            </Link>
          </div>
          <div class="flex flex-col items-start gap-4 md:flex-row md:gap-5">
            <picture>
              <img
                id="langs-img"
                src="https://github-readme-stats.vercel.app/api/top-langs/?username=sharukhrahman97&size_weight=0.5&count_weight=0.5&theme=dark"
              />
            </picture>
            <picture>
              <img
                id="stats-img"
                src="https://github-readme-stats.vercel.app/api?username=sharukhrahman97&show_icons=true&theme=dark"
              />
            </picture>
          </div>
          <section class="animate space-y-6">
            <div class="flex flex-wrap items-center justify-between gap-y-2">
              <h2 class="font-semibold text-black dark:text-white">
                Education
              </h2>
            </div>
            <ul class="not-prose grid grid-cols-1 gap-4">
              {
                SITE.EDUCATION.map((education) => (
                  <li class="flex h-full flex-col">
                    <Card
                      title={education.TITLE}
                      subtitle={education.SUBTITLE}
                      description={education.DESCRIPTION}
                    />
                  </li>
                ))
              }
              {
                SITE.EDUCATION.length % 2 !== 0 && (
                  <li class="self-end">
                    <h2 class="text-xl font-medium text-black dark:text-white">
                      ... and much more &#9729;
                    </h2>
                  </li>
                )
              }
            </ul>
          </section>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
